<div class="row">
    <div class="thumbnail col-md-12 col-sm-12 col-xs-12 col-lg-12">
        <img ng-src="{{item.image}}" alt="{{item.name}}" class="thumb">
        <div class="caption">
            <h2>{{item.name}}
                <small class="pull-right hidden-xs">
                    Categoria:<a href="#/category/{{item.category}}">{{item.category}}</a>
                </small>
            </h2>
            <h5 class="visible-xs">Categoria:<a href="#/category/{{item.category}}">{{item.category}}</a></h5>
        </div>
        <h4>Descrição:</h4>
        <p class="col-mg-12">{{item.description}}</p>
        <h4>Ingredientes:</h4>
        <ul class="list-group">
            <li ng-repeat="ingredient in item.ingredients" class="list-group-item">
                <small>{{ingredient.quantity}} {{ingredient.unity}} de </small>{{ingredient.name}}</li>
        </ul>
    </div>
</div>